@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: rgb(8, 9, 17);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    padding: 5px 3px;
    color: #fff;
}
ul {
    padding: 10px;
}

header {
    height: 100vh;
    border-bottom-left-radius: 10px;
}

.header-img img {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text-header {
    position: relative;
    z-index: 100;
    background-color: rgba(237, 57, 57, 0.284);
    height: 100%;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.title-portafolio {
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}

#frases-header {
    background-color: rgba(162, 162, 162, 0.33);
    margin-top: 30px;
    padding: 10px;
    height: 100px;
    width: 300px;
    font-size: 14px;
}

nav {
    display: none;
    position: absolute;
    right: 45px;
    top: 90px;
    background-color: rgb(40, 40, 40);
    padding: 10px;
    border-radius: 5px;
}

.show {
    display: block;
}

ul>li>a {
    color: rgb(255, 255, 255);
    
}

.icono-container {
    padding: 5px;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 15px;
    right: 20px;
}

.icon {
    font-size: 2.2rem;
}

.title {
    color: rgb(237, 57, 57);
    margin-bottom: 20px;
    font-size: 2rem;
}

.texto-container > p {
    color: rgb(255, 255, 255);
}

main {
    width: 100%;
    margin-top: 20px;
} 

.container {
    padding: 10px 25px;
    margin: 45px 5%;
}

.galeria-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.trabajos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
    
}

.premisa-container {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: rgb(227, 228, 228);
    color: rgb(8, 9, 17);
    border-radius: 0 8px /0 8px ;
    padding: 10px 35px;
    cursor: pointer;
}

.premisa {
    color: rgb(8, 9, 17);
    font-weight: bold;
}

.plus-icon i {
    font-size: 24px;
}



.resumen-container {
    transform: scale(0);
    position: fixed;
}

.resumen-show {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgb(227, 228, 228);
    position: absolute;
    padding: 10px;
    font-size: 1.2rem;
    width: 75%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 5px rgba(237, 57, 57, 0.838);
    transform: scale(1);
    transition: transform 0.3s;
}

.resumen {
    width: 100%;
}

.resumen a {
    text-decoration: underline;
}


.texto-container {
    color: #fff;
    font-size: 1.2rem;
}

.subtitulos {
    color: #fff;
    font-weight: bolder;
    font-size: 1.4rem;
    text-decoration: underline;
}

.texto-escuela{
    margin: 20px 0;
}


footer {
    background-color: rgb(237, 57, 57);
    padding: 35px;
    margin-top: 20px;
}


@media (min-width: 1023px) {
    .container {
        margin: 45px 15%;
    }
}